<div class="c-spacer" style="height:15px;"></div>

<section class="c-trending-posts">
	<div class="container">
		<h2 class="c-trending-posts__title">Trending</h2>

		<div class="row">
			<div class="col-md-4">
				<div class="c-trending-posts__posts">
					<div class="c-trending-posts__image-wrapper">
						<a href="/blog/what-i-search-engine-optimisation-seo/">
							<div class="c-trending-posts__image" style="background-image: url(/assets/images/blogs/image-33.jpg);">
							</div>
						</a>
					</div>
					<div class="c-trending-posts__content">
						<p class="c-trending-posts__post-tags">Marketing</p>
						<h6 class="c-trending-posts__post-title">
							<a href="/blog/what-i-search-engine-optimisation-seo/">What is Search Engine Optimisation (SEO)?</a>
						</h6>
						<p class="c-trending-posts__post-date">24 Jun 2021</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="c-trending-posts__posts">
					<div class="c-trending-posts__image-wrapper">
						<a href="/blog/the-workplace-of-the-future-is-here-are-you-ready/">
							<div class="c-trending-posts__image" style="background-image: url(/assets/images/blogs/image-32.jpg);">
							</div>
						</a>
					</div>
					<div class="c-trending-posts__content">
						<p class="c-trending-posts__post-tags">Business</p>
						<h6 class="c-trending-posts__post-title">
							<a href="/blog/the-workplace-of-the-future-is-here-are-you-ready/">The Workplace of the Future is Here. Are You Ready?</a>
						</h6>
						<p class="c-trending-posts__post-date">23 Jun 2021</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="c-trending-posts__posts">
					<div class="c-trending-posts__image-wrapper">
						<a href="/blog/the-future-of-digital-marketing/">
							<div class="c-trending-posts__image" style="background-image: url(/assets/images/blogs/image-36.jpg);">
							</div>
						</a>
					</div>
					<div class="c-trending-posts__content">
						<p class="c-trending-posts__post-tags">Business</p>
						<h6 class="c-trending-posts__post-title">
							<a href="/blog/the-future-of-digital-marketing/">The Future of Digital Marketing</a>
						</h6>
						<p class="c-trending-posts__post-date">22 Jun 2021</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="c-latest-blog">
	<div class="container">
		<h2 class="c-latest-blog__title">Latest</h2>

		<div class="row">
			<div class="col-md-4">
				<div class="c-latest-blog__blog-post">
					<div class="c-latest-blog__image-wrapper">
						<a href="/blog/what-i-search-engine-optimisation-seo/">
							<div class="c-latest-blog__post-image" style="background-image: url(/assets/images/blogs/image-33.jpg);">
							</div>
						</a>
					</div>
					<div class="c-latest-blog__post-content">
						<p class="c-latest-blog__post-tags">Marketing</p>
						<h6 class="latest-posts-title">
							<a href="/blog/what-i-search-engine-optimisation-seo/">What is Search Engine Optimisation (SEO)?</a>
						</h6>
						<p class="c-latest-blog__post-date">24 Jun 2021</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="c-latest-blog__blog-post">
					<div class="c-latest-blog__image-wrapper">
						<a href="/blog/the-workplace-of-the-future-is-here-are-you-ready/">
							<div class="c-latest-blog__post-image" style="background-image: url(/assets/images/blogs/image-32.jpg);">
							</div>
						</a>
					</div>
					<div class="c-latest-blog__post-content">
						<p class="c-latest-blog__post-tags">Business</p>
						<h6 class="latest-posts-title">
							<a href="/blog/the-workplace-of-the-future-is-here-are-you-ready/">The Workplace of the Future is Here. Are You Ready?</a>
						</h6>
						<p class="c-latest-blog__post-date">23 Jun 2021</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="c-latest-blog__blog-post">
					<div class="c-latest-blog__image-wrapper">
						<a href="/blog/the-future-of-digital-marketing/">
							<div class="c-latest-blog__post-image" style="background-image: url(/assets/images/blogs/image-36.jpg);">
							</div>
						</a>
					</div>
					<div class="c-latest-blog__post-content">
						<p class="c-latest-blog__post-tags">Business</p>
						<h6 class="latest-posts-title">
							<a href="/blog/the-future-of-digital-marketing/">The Future of Digital Marketing</a>
						</h6>
						<p class="c-latest-blog__post-date">22 Jun 2021</p>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center">
			<a class="btn button-standard" href="2">Next</a>
		</div>
	</div>
</section>
