<div class="c-spacer" style="height:15px;"></div>
<section class="c-trending-posts">
    <div class="container">
        <h2 class="c-trending-posts__title">Trending</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="c-trending-posts__posts">
                    <div class="c-trending-posts__image-wrapper"> <a
                            href="/blog/is-your-business-ready-to-scale-2024-03-08.html">
                            <div class="c-trending-posts__image"
                                style="background-image: url(/images/is-your-business-ready-to-scale-2024-03-08.png);">
                            </div>
                        </a> </div>
                    <div class="c-trending-posts__content">
                        <p class="c-trending-posts__post-tags">Business</p>
                        <h6 class="c-trending-posts__post-title"> <a
                                href="/blog/is-your-business-ready-to-scale-2024-03-08.html">Is Your Business Ready to
                                Scale?</a> </h6>
                        <p class="c-trending-posts__post-date">08 Mar 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="c-trending-posts__posts">
                    <div class="c-trending-posts__image-wrapper"> <a
                            href="/blog/accelerate-growth-when-speed-matters-2024-04-18.html">
                            <div class="c-trending-posts__image"
                                style="background-image: url(/images/accelerate-growth-when-speed-matters-2024-04-18.png);">
                            </div>
                        </a> </div>
                    <div class="c-trending-posts__content">
                        <p class="c-trending-posts__post-tags">Business</p>
                        <h6 class="c-trending-posts__post-title"> <a
                                href="/blog/accelerate-growth-when-speed-matters-2024-04-18.html">Accelerate Growth When
                                Speed Matters</a> </h6>
                        <p class="c-trending-posts__post-date">18 Apr 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="c-trending-posts__posts">
                    <div class="c-trending-posts__image-wrapper"> <a
                            href="/blog/center-for-entrepreneurship-invites-to-2025-scaleup-program-2024-07-09.html">
                            <div class="c-trending-posts__image"
                                style="background-image: url(/images/center-for-entrepreneurship-invites-to-2025-scaleup-program-2024-07-09.png);">
                            </div>
                        </a> </div>
                    <div class="c-trending-posts__content">
                        <p class="c-trending-posts__post-tags">Programs</p>
                        <h6 class="c-trending-posts__post-title"> <a
                                href="/blog/center-for-entrepreneurship-invites-to-2025-scaleup-program-2024-07-09.html">Center
                                for Entrepreneurship Invites to 2025 ScaleUp Program</a> </h6>
                        <p class="c-trending-posts__post-date">09 Jul 2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="c-latest-blog">
    <div class="container">
        <h2 class="c-latest-blog__title">Latest</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="c-latest-blog__blog-post">
                    <div class="c-latest-blog__image-wrapper"> <a
                            href="/blog/center-for-entrepreneurship-continues-the-industry-sessions-at-startup-club-2024-06-08.html">
                            <div class="c-latest-blog__post-image"
                                style="background-image: url(/images/center-for-entrepreneurship-continues-the-industry-sessions-at-startup-club-2024-06-08.png);">
                            </div>
                        </a> </div>
                    <div class="c-latest-blog__post-content">
                        <p class="c-latest-blog__post-tags">Events</p>
                        <h6 class="latest-posts-title"> <a
                                href="/blog/center-for-entrepreneurship-continues-the-industry-sessions-at-startup-club-2024-06-08.html">Center
                                for Entrepreneurship Continues the Industry Sessions at Startup Club</a> </h6>
                        <p class="c-latest-blog__post-date">08 Jun 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="c-latest-blog__blog-post">
                    <div class="c-latest-blog__image-wrapper"> <a
                            href="/blog/center-for-entrepreneurship-invites-to-startup-club-2024-05-09.html">
                            <div class="c-latest-blog__post-image"
                                style="background-image: url(/images/center-for-entrepreneurship-invites-to-startup-club-2024-05-09.png);">
                            </div>
                        </a> </div>
                    <div class="c-latest-blog__post-content">
                        <p class="c-latest-blog__post-tags">Events</p>
                        <h6 class="latest-posts-title"> <a
                                href="/blog/center-for-entrepreneurship-invites-to-startup-club-2024-05-09.html">Center
                                for Entrepreneurship Invites to Startup Club</a> </h6>
                        <p class="c-latest-blog__post-date">09 May 2024</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="c-latest-blog__blog-post">
                    <div class="c-latest-blog__image-wrapper"> <a
                            href="/blog/center-for-entrepreneurship-announces-global-entrepreneurship-week-2024-2024-04-20.html">
                            <div class="c-latest-blog__post-image"
                                style="background-image: url(/images/center-for-entrepreneurship-announces-global-entrepreneurship-week-2024-2024-04-20.png);">
                            </div>
                        </a> </div>
                    <div class="c-latest-blog__post-content">
                        <p class="c-latest-blog__post-tags">Events</p>
                        <h6 class="latest-posts-title"> <a
                                href="/blog/center-for-entrepreneurship-announces-global-entrepreneurship-week-2024-2024-04-20.html">Center
                                for Entrepreneurship Announces Global Entrepreneurship Week 2024</a> </h6>
                        <p class="c-latest-blog__post-date">20 Apr 2024</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center"> <a class="btn button-standard" href="2">Next</a> </div>
    </div>
</section>