<!---program modules --->
<div class="container">
    <div class="c-info-section">
        <div class="c-info-section__caption-title">
            <h4><span class="pr-3">Featured program partners</span></h4>
        </div>

        <div class="c-info-section__title">
            <h2>Featured partners</h2>
        </div>

        <div class="row c-info-section__row">
            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/global-entrepreneurship-network-logo.png" width="100px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <!--<h3>Startup Club</h3>-->
                    </div>
                    <div class="c-spacer" style="height:30px;"> </div>
                    <!--<div class="c-info-section__analyze-column_column-content">
                        <p>Get new ideas and business tools from community of mentors. </p>
                    </div>-->
                    <a class="btn outline-btn c-info-section__column-button" href="/partners/global-entrepreneurship-network">Find out more</a>
                </div>
            </div>

            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/erwing-marion-kauffman-foundation-logo.png" width="220px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <!--<h3>Get feedback</h3>-->
                    </div>
                    <div class="c-spacer" style="height:30px;"> </div>
                    <!--<div class="c-info-section__analyze-column_column-content">
                        <p>Present your startup, get feedback, and grow your business.</p>
                    </div>-->
                    <a class="btn outline-btn c-info-section__column-button" href="/partners/ewing-marion-kauffman-foundation">Find out more</a>
                </div>
            </div>

            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/us-department-of-state-logo.png" width="100px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <!--<h3>ScaleUp accelerator</h3>-->
                    </div>
                    <div class="c-spacer" style="height:30px;"> </div>
                    <!--<div class="c-info-section__analyze-column_column-content">
                        <p>Scale up your business with a knowledgeable and experienced mentor.</p>
                    </div>-->
                    <a class="btn outline-btn c-info-section__column-button" href="/partners/us-department-of-state">Find out more</a>
                </div>
            </div>
        </div>

        <div class="row c-info-section__row">
            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/young-entrepreneurs-organization-logo.jpg" width="220px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <!--<h3>GEW</h3>-->
                    </div>
                    <div class="c-spacer" style="height:30px;"> </div>
                    <!--<div class="c-info-section__analyze-column_column-content">
                        <p>Connect to global network of entrepreneurs.</p>
                    </div>-->
                    <a class="btn outline-btn c-info-section__column-button" href="/partners/young-entrepreneurs-organization">Find out more</a>
                </div>
            </div>

            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/american-chamber-of-commerce-logo.png" width="220px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <!--<h3>Get feedback</h3>-->
                    </div>
                    <div class="c-spacer" style="height:30px;"> </div>
                    <!--<div class="c-info-section__analyze-column_column-content">
                        <p>Shape global entrepreneurship for sustainable growth and innovation.</p>
                    </div>-->
                    <a class="btn outline-btn c-info-section__column-button" href="/partners/american-chamber-of-commerce">Find out more</a>
                </div>
            </div>

            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/junior-achievement.png" width="220px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <!--<h3>ScaleUp accelerator</h3>-->
                    </div>
                    <div class="c-spacer" style="height:30px;"> </div>
                    <!--<div class="c-info-section__analyze-column_column-content">
                        <p>Implementment your high impact entrepreneurship educational program.</p>
                    </div>-->
                    <a class="btn outline-btn c-info-section__column-button" href="/partners/junior-achievement">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</div>