<div class="container" <div="">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <h1 class="l-post-content-section__post-title">Startup Huddle</h1>
            <div class="l-post-content-section__content">
                <p>The Center for Entrepreneurship implemented the <a href="/programs/startup-programs">Startup programs</a> since 2003. Startup Huddle, launched globally in 2016, is an international program dedicated to educating and unifying entrepreneurial communities. It fosters collaboration through monthly sessions where two entrepreneurs present their businesses, receiving valuable feedback and solutions from the community. This initiative empowers entrepreneurs with insights, expands networks, and integrates them into the global entrepreneurial ecosystem.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 order-1 align-self-center c-hero-content__image c-hero-content__column">
            <img class="img-fluid" src="/images/startup-huddle-logo.svg" style="height: 200px">
        </div>
    </div>
    </div>