<!---program modules --->
<div class="container">
    <div class="c-info-section">
        <div class="c-info-section__caption-title">
            <h4><span class="pr-3">Featured</span></h4>
        </div>

        <div class="c-info-section__title">
            <h2>Featured programs</h2>
        </div>

        <div class="row c-info-section__row">
            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/startup-club-logo.png" width="220px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <!--<h3>Startup Club</h3>-->
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>Get new ideas and business tools from community of mentors. </p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/programs/startup-club">Find out more</a>
                </div>
            </div>

            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/startup-huddle-logo.svg" width="220px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <!--<h3>Get feedback</h3>-->
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>Present your startup and get feedback.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/programs/startup-huddle">Find out more</a>
                </div>
            </div>

            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/scaleup-logo.png" width="220px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <!--<h3>ScaleUp accelerator</h3>-->
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>Scale up your business plan with mentor.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/programs/scaleup-acceleration-program">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</div>