<div class="container">
		<div class="row">
            <div class="container">
                <div class="c-info-section">
                <div class="c-info-section__caption-title">
                    <h4><span class="pr-3">People behind Center for Entreprenuership</span></h4>
                </div>
                <div class="c-info-section__title">
                    <h2>Management and Board of Directors</h2>
                </div>
                </div>
                <div class="row">
                    <!-- Denis Didkovskiy -->
                    <div class="col-md-4">
                        <div class="l-team-archive__column">
                            <div class="l-team-archive__image-wrapper">
                                <a href="/people/denis-didkovskiy.html">
                                    <div class="l-team-archive__profile-image" style="background-image: url('/images/denis-didkovskiy.jpg'); background-size: 140%;"></div>
                                </a>
                            </div>
                            <div class="l-team-archive__info">
                                <a href="/people/denis-didkovskiy.html">
                                    <h5 class="l-team-archive__name">Denis Didkovskiy</h5>
                                </a>
                                <p class="l-team-archive__designation">CEO</p>
                                <p class="l-team-archive__designation">Management</p>
                                <div class="l-team-archive__social-share">
                                    <a class="share-icons" href="/people/denis-didkovskiy.html">
                                        <img alt="cfe-icon" src="/images/siteicon.png">
                                    </a>
                                    <a class="share-icons" href="https://www.linkedin.com/in/dennis-didkovski/">
                                        <img alt="linkedin-icon" src="/images/linkedin-icon.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <!-- Peter Charow -->
                    <div class="col-md-4">
                        <div class="l-team-archive__column">
                            <div class="l-team-archive__image-wrapper">
                                <a href="/people/peter-charow.html">
                                    <div class="l-team-archive__profile-image" style="background-image: url('/images/peter-charow.jpg'); background-size: 160%;"></div>
                                </a>
                            </div>
                            <div class="l-team-archive__info">
                                <a href="/people/peter-charow.html">
                                    <h5 class="l-team-archive__name">Peter Charow</h5>
                                </a>
                                <p class="l-team-archive__designation">Chairman of the Board</p>
                                <p class="l-team-archive__designation">Board of Directors</p>
                                <div class="l-team-archive__social-share">
                                    <a class="share-icons" href="/people/peter-charow.html">
                                        <img alt="cfe-icon" src="/images/siteicon.png">
                                    </a>
                                    <a class="share-icons" href="https://www.linkedin.com/in/peter-charow/">
                                        <img alt="linkedin-icon" src="/images/linkedin-icon.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <!-- Steve Pease -->
                    <div class="col-md-4">
                        <div class="l-team-archive__column">
                            <div class="l-team-archive__image-wrapper">
                                <a href="/people/steve-pease.html">
                                    <div class="l-team-archive__profile-image" style="background-image: url('/images/steve-pease.jpg');"></div>
                                </a>
                            </div>
                            <div class="l-team-archive__info">
                                <a href="/people/steve-pease.html">
                                    <h5 class="l-team-archive__name">Steve Pease</h5>
                                </a>
                                <p class="l-team-archive__designation">Board Member</p>
                                <p class="l-team-archive__designation">Board of Directors</p>
                                <div class="l-team-archive__social-share">
                                    <a class="share-icons" href="/people/steve-pease.html">
                                        <img alt="cfe-icon" src="/images/siteicon.png">
                                    </a>
                                    <a class="share-icons" href="https://www.linkedin.com/in/steven-l-pease-72848743/">
                                        <img alt="linkedin-icon" src="/images/linkedin-icon.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <!-- Karen Horn -->
                    <div class="col-md-4">
                        <div class="l-team-archive__column">
                            <div class="l-team-archive__image-wrapper">
                                <a href="/people/karen-horn.html">
                                    <div class="l-team-archive__profile-image" style="background-image: url('/images/karen-horn.jpg');"></div>
                                </a>
                            </div>
                            <div class="l-team-archive__info">
                                <a href="/people/karen-horn.html">
                                    <h5 class="l-team-archive__name">Karen Horn</h5>
                                </a>
                                <p class="l-team-archive__designation">Board Member</p>
                                <p class="l-team-archive__designation">Board of Directors</p>
                                <div class="l-team-archive__social-share">
                                    <a class="share-icons" href="/people/karen-horn.html">
                                        <img alt="cfe-icon" src="/images/siteicon.png">
                                    </a>
                                    <a class="share-icons" href="https://www.linkedin.com/in/karen-horn/">
                                        <img alt="linkedin-icon" src="/images/linkedin-icon.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <!-- Charlie Ryan -->
                    <div class="col-md-4">
                        <div class="l-team-archive__column">
                            <div class="l-team-archive__image-wrapper">
                                <a href="/people/charlie-ryan.html">
                                    <div class="l-team-archive__profile-image" style="background-image: url('/images/charlie-ryan.jpg');"></div>
                                </a>
                            </div>
                            <div class="l-team-archive__info">
                                <a href="/people/charlie-ryan.html">
                                    <h5 class="l-team-archive__name">Charlie Ryan</h5>
                                </a>
                                <p class="l-team-archive__designation">Board Member</p>
                                <p class="l-team-archive__designation">Board of Directors</p>
                                <div class="l-team-archive__social-share">
                                    <a class="share-icons" href="/people/charlie-ryan.html">
                                        <img alt="cfe-icon" src="/images/siteicon.png">
                                    </a>
                                    <a class="share-icons" href="https://www.linkedin.com/in/charles-ryan-62a62765/">
                                        <img alt="linkedin-icon" src="/images/linkedin-icon.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <!-- Jonathan Ortmans -->
                    <div class="col-md-4">
                        <div class="l-team-archive__column">
                            <div class="l-team-archive__image-wrapper">
                                <a href="/people/jonathan-ortmans.html">
                                    <div class="l-team-archive__profile-image" style="background-image: url('/images/jonathan-ortmans.jpg');"></div>
                                </a>
                            </div>
                            <div class="l-team-archive__info">
                                <a href="/people/jonathan-ortmans.html">
                                    <h5 class="l-team-archive__name">Jonathan Ortmans</h5>
                                </a>
                                <p class="l-team-archive__designation">Board Member</p>
                                <p class="l-team-archive__designation">Board of Directors</p>
                                <div class="l-team-archive__social-share">
                                    <a class="share-icons" href="/people/jonathan-ortmans.html">
                                        <img alt="cfe-icon" src="/images/siteicon.png">
                                    </a>
                                    <a class="share-icons" href="https://www.linkedin.com/in/jonathanortmans/">
                                        <img alt="linkedin-icon" src="/images/linkedin-icon.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>