<footer class="c-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="c-footer__footer-column">
                    <div class="c-footer__footer-logo">
                        <img src="/assets/images/logo/cfe-long-4.png" style="height:45px">
                    </div>
                    <div class="c-footer__footer-content">
                        <p>Center for Entrepreneurship: High impact entrepreneurship programs.</p>
                    </div>
                    <div class="c-footer__copyright-social-icon">
                        <ul class="list-inline text-left">
                            <!-- LinkedIn link add link-->
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/company/cfeglobal/"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <!-- Twitter link add link -->
                            <li class="list-inline-item">
                                <a href="https://x.com/cfeglobal_org"><i class="fab fa-twitter"></i></a>
                            </li>
                            <!-- Facebook link add link -->
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/cfeglobal.org/"><i class="fab fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-6 c-footer__footer-column">
                        <h4 class="c-footer__footer-heading">Goals</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/programs/grow-existing-business">Grow existing business</a>
                            </li>
                            <li>
                                <a href="/programs/launch-startup">Launch startup</a>
                            </li>
                            <li>
                                <a href="/programs/learn-entrepreneurship">Learn entrepreneurship</a>
                            </li>
                            <li>
                                <a href="/programs/support-entrepreneurship">Support entrepreneurship</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6 c-footer__footer-column">
                        <h4 class="c-footer__footer-heading">Programs</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/programs/acceleration-programs">ScaleUp accelerator</a>
                            </li>
                            <li>
                                <a href="/programs/startup-programs">Startup programs</a>
                            </li>
                            <li>
                                <a href="/programs/educational-programs">Educational programs</a>
                            </li>
                            <li>
                                <a href="/programs/ecosystem-programs">Ecosystem programs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-6 c-footer__footer-column">
                        <h4 class="c-footer__footer-heading">About</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/blog">News</a>
                            </li>
                            <li>
                                <a href="/programs/volunteer">Volunteer</a>
                            </li>
                            <li>
                                <a href="/contact">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-footer__footer-copyright">
            <div class="c-footer__copyright-text">
                <p>Copyright © CFE 2024. All rights reserved.</p>
                <a href="/privacypolicy">Privacy Policy </a>
                <a href="/sitemap">Sitemap</a>
            </div>
        </div>
    </div>
</footer>

