<div class="container"
<div class="l-post-content-section">
<div class="row">
    <div class="col-lg-8 col-md-12">
        <h2 class="l-post-content-section__post-title">Center for Entreprenuership</h2>
        <div class="l-post-content-section__content" >
            <p>Artificial Intelligence is a system or program created with special technology to help complete various activities obtained from following human thought patterns.</p>
            <p>The categories of AI are divided into two, namely:</p>
            <ol>
                <li>Weak AI is an Artificial Intelligence that is trained for certain tasks. Such as Siri, Cortana, and Google Assistant.</li>
                <li>Strong AI is an AI system with general human cognitive abilities and can find solutions without human intervention.</li>
            </ol>
            <p>Then, the types of AI are further divided into three types, namely neural AI, neural network, and symbol manipulating AI.</p>
            <p>The following is an example of the application of artificial intelligence that has been implemented and utilized in everyday life that we often encounter.</p>
            <h5>1. Humanoid Robot</h5>
            <p>A humanoid robot is a robot that is claimed to be able to learn from interactions with humans, then it will store data about the behavior of these interactions using cloud storage based on an AI system. One of them is a Humanoid Robot created by Softbank named Pepper, which has a height of 1 meter and a tablet on its chest.</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 order-1 align-self-center c-hero-content__image c-hero-content__column">
        <img class="img-fluid" src="/assets/images/logo/cfe-long.png" style="height: 200px">
    </div>
</div>
</div>
</div>
