<div class="container">
    <div class="c-info-section">
        <div class="c-info-section__caption-title">
            <h4><span class="pr-3">Easy Process</span></h4>
        </div>

        <div class="c-info-section__title">
            <h2>How does it work?</h2>
        </div>

        <div class="row c-info-section__row">
            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/homepage/phone-icon.png" src="/assets/images/homepage/phone-icon.png?_cchid=2da67fe56fc5bdbbe007a310c2665678" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Set up call tracking</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>Assign unique identifiers to each campaign and/or traffic source.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="">Find out more</a>
                </div>
            </div>

            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/homepage/analyze-icon.png" src="/assets/images/homepage/analyze-icon.png?_cchid=c650d3c178b277bbe9604b0aaf08018d" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Analyze the data</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>With rich reports you can see your most effective marketing campaigns.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="">Find out more</a>
                </div>
            </div>

            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/homepage/growing-icon.png" src="/assets/images/homepage/growing-icon.png?_cchid=fee87c32176d0ab8f8023bbfa62cb249" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Grow your business</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>Improve your marketing, win more customers, and retain more clients.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="">Find out more</a>
                </div>
            </div>
        </div>

        <!--second row-->
        <div class="row c-info-section__row">
            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/homepage/phone-icon.png" src="/assets/images/homepage/phone-icon.png?_cchid=2da67fe56fc5bdbbe007a310c2665678" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Set up call tracking</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>Assign unique identifiers to each campaign and/or traffic source.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="">Find out more</a>
                </div>
            </div>

            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/homepage/analyze-icon.png" src="/assets/images/homepage/analyze-icon.png?_cchid=c650d3c178b277bbe9604b0aaf08018d" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Analyze the data</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>With rich reports you can see your most effective marketing campaigns.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="">Find out more</a>
                </div>
            </div>

            <div class="col-lg-4 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" data-cms-original-src="/assets/images/homepage/growing-icon.png" src="/assets/images/homepage/growing-icon.png?_cchid=fee87c32176d0ab8f8023bbfa62cb249" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Grow your business</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>Improve your marketing, win more customers, and retain more clients.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</div>
