<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Primary Meta Tags NEW  -->
    <title>Center for Entrepreneurship | High impact entrepreneurship programs</title>
    <meta content="Learn about Misha Plam’s contributions to entrepreneurship and scientific advancement through his collaboration with the Center for Entrepreneurship." name="description"/>
    <meta content="Misha Plam, Center for Entrepreneurship, high impact entrepreneurship, Sievers Instruments, INSTAAR, U.S. Small Business Administration" name="keywords"/>
    
    <meta name="robots" content="index, follow" />
    
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "headline": "Empowering Entrepreneurs: Development, Support, and Acceleration Programs",
            "url": "https://cfeglobal.org/people/misha-plam",
            "about": [
                {
                    "@type": "Thing",
                    "name": "Entrepreneurship Development",
                    "sameAs": "https://en.wikipedia.org/wiki/Entrepreneurship_development"
                },
                {
                    "@type": "Thing",
                    "name": "Entrepreneurship Support",
                    "sameAs": "https://en.wikipedia.org/wiki/Entrepreneurship#Support_and_financing"
                },
                {
                    "@type": "Thing",
                    "name": "Startup Programs",
                    "sameAs": "https://en.wikipedia.org/wiki/Startup_company"
                },
                {
                    "@type": "Thing",
                    "name": "Acceleration Programs",
                    "sameAs": "https://en.wikipedia.org/wiki/Startup_accelerator"
                }
            ],
            "mentions": [
                {
                    "@type": "Thing",
                    "name": "Business Incubators",
                    "sameAs": "https://en.wikipedia.org/wiki/Business_incubator"
                },
                {
                    "@type": "Thing",
                    "name": "Seed Funding",
                    "sameAs": "https://en.wikipedia.org/wiki/Seed_funding"
                },
                {
                    "@type": "Thing",
                    "name": "Venture Capital",
                    "sameAs": "https://en.wikipedia.org/wiki/Venture_capital"
                },
                {
                    "@type": "Thing",
                    "name": "Mentorship",
                    "sameAs": "https://en.wikipedia.org/wiki/Mentorship"
                }
            ]
        }
    </script>
    <!-- favicon -->
    <link data-cms-original-href="/assets/images/logo/siteicon.png" href="/assets/images/logo/siteicon.png" rel="icon" sizes="16x16" type="image/png">
    <!-- touch-icons -->
    <link data-cms-original-href="/assets/images/logo/siteicon.png" href="/assets/images/logo/siteicon.png" rel="shortcut icon">
    <link data-cms-original-href="/assets/images/logo/siteicon.png" href="/assets/images/logo/siteicon.png" rel="apple-touch-icon-precomposed">
    <link data-cms-original-href="/assets/images/logo/siteicon.png" href="/assets/images/logo/siteicon.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link data-cms-original-href="/assets/images/logo/siteicon.png" href="/assets/images/logo/siteicon.png" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link data-cms-original-href="/assets/images/logo/siteicon.png" href="/assets/images/logo/siteicon.png" rel="apple-touch-icon-precomposed" sizes="144x144">
    <!-- main css -->
    <link data-cms-original-href="/assets/main.css" href="/assets/main.css" rel="stylesheet">
    <!-- fontawesome css -->
    <link data-cms-original-href="/assets/css/lib/fontawesome/all.css" href="/assets/css/lib/fontawesome/all.css" media="screen" rel="stylesheet" type="text/css">
    <!-- bootstrap jquery -->
    <script data-cms-original-src="/assets/js/jquery-3.3.1.slim.min.js" src="/assets/js/jquery-3.3.1.slim.min.js"></script>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&family=Poppins:wght@100;400;600&display=swap" rel="stylesheet">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VK4JWHDC1Z"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-VK4JWHDC1Z');
</script>
<script data-cms-original-src="/assets/js/jquery-latest.min.js" src="/assets/js/jquery-latest.min.js" type="text/javascript"></script>

<body class="Home">
<div id="1" data-loader="../components/header.html"></div>
<div class="blog-post-1">
    <section class="c-hero-content c-hero-content-1">

	
        <div class="container">
            <div class="row">
    
                <div class="col-lg-6 col-md-12 order-2 align-self-center c-hero-content__column c-hero-content__content">
                    
    
                    
                        <div class="c-hero-content__title">
                            <h1>Your Growth Community <br>Awaits</h1>
                        </div>
                    
    
                    
                        <div class="c-hero-content__description">
                            <p>At CFE, we excel in providing high impact entrepreneurial programs</p>
    
                        </div>
                    
                </div>
    
                <div class="col-lg-6 
                            col-md-12 
                             
                            order-1 
                            align-self-center 
                            c-hero-content__image 
                            c-hero-content__column">
                    
                        <img alt="Hero image" class="img-fluid" src="/assets/images/dot-net-development.jpg" style="object-fit: cover">
                    
                </div>
            </div>
        </div>
    </section>
    <section class="l-post-content-section">
        <div class="container">
            <div class="l-post-content-section">
    
                  
                <div class="row">
    
                    <div class="col-md-12">
                        <h1 class="l-post-content-section__post-title">Let's Get To Know What Artificial Intelligence Is</h1>
                        <div class="l-post-content-section__content" data-cms-content-wrapper="/site/_includes/post-layout.html">
                            <p>Artificial Intelligence is a system or program created with special technology to help complete various activities obtained from following human thought patterns.</p>
    
                            <p>The categories of AI are divided into two, namely: 
                                <ol>
                                    <li>Weak AI is an Artificial Intelligence that is trained for certain tasks. Such as Siri, Cortana, and Google Assistant.</li>
                                    <li>Strong AI is an AI system with general human cognitive abilities and can find solutions without human intervention.</li>
                                </ol>
                            </p>
    
                            <p>Then, the types of AI are further divided into three types, namely neural AI, neural network, and symbol manipulating AI.</p>
    
                            <p>The following is an example of the application of artificial intelligence that has been implemented and utilized in everyday life that we often encounter.</p>
    
                            <h5 id="1-humanoid-robot">1. Humanoid Robot</h5>
                            <p>A humanoid robot is a robot that is claimed to be able to learn from interactions with humans, then it will store data about the behavior of these interactions using cloud storage based on an AI system. One of them is a Humanoid Robot created by Softbank named Pepper, which has a height of 1 meter and a tablet on its chest.</p>
    
                            <h5 id="2-website-or-application-recommendations">2. Website or Application Recommendations</h5>
                            <p>When we access an application, it is often found that we recommend content or products that are similar to what we are looking for or that we enjoy when accessing the platform. It could be done because they used Artificial Intelligence.</p>
    
                            <h5 id="3-virtual-assistant">3. Virtual Assistant</h5>
                            <p>Currently, the virtual assistant that we can use today is quite a lot of choices, for example, such as Siri, Cortana, and Google Assistant. You can also command this virtual assistant to perform various activities such as sending messages, calling someone, playing music, turning on house lights, opening applications, and many others. Is it sophisticated?</p>
    
                            <h5 id="4-ai-camera">4. AI Camera</h5>
                            <p>On smartphones, apart from face unlock that uses AI to unlock quickly and accurately. It turns out that AI is also used to improve the lens’s ability to take pictures or record videos, detect objects automatically, and maximize settings so that the quality will be better.</p>
    
                            <h5 id="conclusion-">Conclusion :</h5>
                            <p>Artificial Intelligence (AI) is currently a technology that has begun to be widely used daily. AI will be increasingly used because scientists are interested in developing and presenting innovations that will certainly be needed to facilitate human work in the future.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </section>
    
</div>
    
    <!--footer -->
    <div id="2" data-loader="../components/footer.html"></div>
    <script src="../a/loader.js"></script>
    <script data-cms-original-src="/assets/js/popper.min.js" src="/assets/js/popper.min.js"></script>
    <script data-cms-original-src="/assets/js/bootstrap.min.js" src="/assets/js/bootstrap.min.js"></script>
    <script src="../a/navbar.js"></script>
</body>
</html>
