<meta content="" name="description">
<meta content="" name="keywords">
<link rel="shorturl" href="" />

<div class="blog-post-1">

<div class="container 
			c-testimonials">
	<div class="c-testimonials__heading-wrapper">
		
			<div class="c-testimonials__caption-title">
				<h4>
					<span class="pr-3">People behind Center for Entreprenuership</span>
				</h4>
			</div>
		

		
			<div class="c-testimonials__title">
				<div class="row 
							justify-content-between">
					<div class="col-md-6">
						<h2 data-semantic="name">
							<!--Ray Smilor-->
						</h2>
					</div>
					<div class="col-md-6"></div>
				</div>
			</div>
		
	</div>


	<div class="row justify-content-between">
		
			<div class="col-md-7 order-1 mb-4">
				<div data-semantic="picture" class="c-testimonials__main-image" data-cms-original-style="background-image:url('/people/ray-smilor.jpg')" style="background-image:url(/people/ray-smilor.jpg)">
					<img alt="Testimonial image" class="img-fluid c-testimonials__quote-image" data-cms-original-src="/assets/images/homepage/quote-img.png" src="/assets/images/homepage/quote-img.png">
				</div>
			</div>
		

		<div class="col-md-4 order-2">
			<div class="c-testimonials__content">		
					<div class="c-testimonials__testimonial-heading">
						<h2 data-semantic="quote">"They helped where its really needed." </h2>
					</div>
				

				
					<div class="c-testimonials__testimonial-content">
						<p></p><p data-semantic="biography"><!--bio here ---> </p><p></p>
					</div>
				

				
					<div class="c-testimonials__testimonial-name">
						<h4 data-semantic="name"></h4>

						
							<p class="c-testimonials__testimonial-designation">Head of development at Fintech company</p>
						
					</div>
				
			</div>
		</div>
	</div>
</div>

</div>
