<meta content="" name="description">
<meta content="" name="keywords">
<link rel="shorturl" href="" />

<div class="blog-post-1">
	<section class="c-hero-content c-hero-content-1">
		<div class="container">
			<div class="row">
					<div class="c-testimonials__caption-title">
						<h4>
							<span class="pr-3">People behind the Center for Entreprenuership</span>
						</h4>
						<div class="c-spacer" style="height:30px;"> </div>
					</div>
					<div class="col-lg-8 col-md-12">
						<h2 data-semantic="name"></h2>
						<div class="l-post-content-section__content">
							<p data-semantic="biography"></p>
						</div>
					</div>
	
					<div class="col-lg-4 col-md-12">
										<div class="l-post-content-section__author-details">
											<div class="row">
												<div class="l-team-archive__image-wrapper">
														<div data-semantic="picture" class="l-team-archive__profile-image" style="background-image: url(/people/name.jpg); width: 300px">
														</div>
												</div>
											</div>
										</div>
					</div>
			</div>
		</div>
	</section>
</div>
