<div class="container">
    <div class="c-info-section">
        <div class="c-info-section__caption-title">
            <h4><span class="pr-3">What We Do</span></h4>
        </div>

        <div class="c-info-section__title">
            <h2>Growth programs</h2>
        </div>

        <div class="row c-info-section__row">
            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/growing-icon.png" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>High impact</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p></p>
                        <p>Whether you're a burgeoning startup or a seasoned enterprise, the Center for Entrepreneurship offers a set of high-impact programs that drive rapid business growth.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/programs">View more</a>
                </div>
            </div>

            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/complement-icon.png" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Experienced mentors</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>Growth flourishes with guidance. The Center for Entrepreneurship connects you with top-tier mentors who provide invaluable insights and practical solutions.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/programs/mentoring-programs">View more</a>
                </div>
            </div>

            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/analyze-icon.png" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Best international practices</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p>The Center for Entrepreneurship offers unparalleled access to best international practices, equipping your business with proven strategies for success.</p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/programs/best-practices">View more</a>
                </div>
            </div>

            <div class="col-lg-6 text-center">
                <div class="c-info-section__info-column">
                    <div class="c-info-section__analyze-column_column-image">
                        <img alt="Icon image" class="img-fluid" src="/images/talent-icon.png"" width="87px">
                    </div>
                    <div class="c-info-section__analyze-column_column-title">
                        <h3>Dedicated program team</h3>
                    </div>
                    <div class="c-info-section__analyze-column_column-content">
                        <p></p>
                        <p>Our dedicated team at the Center for Entrepreneurship ensures meticulous oversight of your projects, enabling you to focus on your core business strengths.</p>
                        <p></p>
                    </div>
                    <a class="btn outline-btn c-info-section__column-button" href="/programs/dedicated-team">View more</a>
                </div>
            </div>
        </div>
    </div>
</div>
