<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Center for Entrepreneurship | High impact entrepreneurship programs</title>
    {insert_meta_description}
    {insert_meta_keywords}
    
    <meta name="robots" content="index, follow" />
    
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "headline": "Empowering Entrepreneurs: Development, Support, and Acceleration Programs",
            "url": "https://cfeglobal.org{insert_url_link}",
            "about": [
                {
                    "@type": "Thing",
                    "name": "Entrepreneurship Development",
                    "sameAs": "https://en.wikipedia.org/wiki/Entrepreneurship_development"
                },
                {
                    "@type": "Thing",
                    "name": "Entrepreneurship Support",
                    "sameAs": "https://en.wikipedia.org/wiki/Entrepreneurship#Support_and_financing"
                },
                {
                    "@type": "Thing",
                    "name": "Startup Programs",
                    "sameAs": "https://en.wikipedia.org/wiki/Startup_company"
                },
                {
                    "@type": "Thing",
                    "name": "Acceleration Programs",
                    "sameAs": "https://en.wikipedia.org/wiki/Startup_accelerator"
                }
            ],
            "mentions": [
                {
                    "@type": "Thing",
                    "name": "Business Incubators",
                    "sameAs": "https://en.wikipedia.org/wiki/Business_incubator"
                },
                {
                    "@type": "Thing",
                    "name": "Seed Funding",
                    "sameAs": "https://en.wikipedia.org/wiki/Seed_funding"
                },
                {
                    "@type": "Thing",
                    "name": "Venture Capital",
                    "sameAs": "https://en.wikipedia.org/wiki/Venture_capital"
                },
                {
                    "@type": "Thing",
                    "name": "Mentorship",
                    "sameAs": "https://en.wikipedia.org/wiki/Mentorship"
                }
            ]
        }
    </script>
    <link rel="icon" sizes="16x16" type="image/png" href="/assets/images/logo/siteicon.png">
    <link rel="shortcut icon" href="/assets/images/logo/siteicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/logo/siteicon.png">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/css/lib/fontawesome/all.css">
    <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&family=Poppins:wght@100;400;600&display=swap" rel="stylesheet">
</head>

<body class="Home">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VK4JWHDC1Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-VK4JWHDC1Z');
    </script>
    <script src="/assets/js/jquery-latest.min.js"></script>

    <div id="1" data-loader="../components/header.html"></div>
    <div id="2" data-loader="../components/index-hero.html"></div>
    <div id="3" data-loader="../components/services-stats.html"></div>
	<div id="4" data-loader="../components/mission-block.html"></div> <!--variables -->
	<div id="5" data-loader="../components/services-types.html"></div>
	<div id="6" data-loader="../components/portfolio.html"></div>
	<div id="7" data-loader="../components/services-testimonials.html"></div>
	<div id="8" data-loader="../components/call-to-action.html"></div>
    
    <div id="9" data-loader="../components/footer.html"></div>
    <script src="../a/loader.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="../a/navbar.js"></script>
</body>

</html>