
                <div class="col-lg-8 col-md-12 order-2 align-self-center c-hero-content__column c-hero-content__content">
                    <h2 data-semantic='blog-title'></h2>
                    <p data-semantic='blog-place-time'></p>
                    <h4 data-semantic='blog-subtitle1'></h4>
                    <p data-semantic='blog-main-text'></p>
                    <h4 data-semantic='blog-subtitle2'></h4>
                    <p data-semantic='blog-additional-text'></p>
                </div>

