<div class='blog-post-1'>
    <div class='container'>
        <section class='c-hero-content c-hero-content-1'>       
            <div class='row'>
                <h1 data-semantic='blog-title'></h1>
                <p data-semantic='blog-place-time'></p>
            </div>      
        </section>        
        <section>                   
            <div class='row'>
                <div class='l-post-content-section__content'>
                    <h3 data-semantic='blog-subtitle1'></h3>
                    <p data-semantic='blog-main-text'></p>
                    <h3 data-semantic='blog-subtitle2'></h3>
                    <p data-semantic='blog-additional-text'></p>
                </div>
            </div>                    
        </section>
    </div>
</div>

