<section class="c-hero-content c-hero-content-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 order-2 align-self-center c-hero-content__column c-hero-content__content">
                <div class="c-hero-content__title">
                    <h1>Your Startup Community <br>Awaits</h1>
                </div>
                <div class="c-hero-content__description">
                    <p>Since 2003, the Center for Entrepreneurship has been driving impactful Startup programs that span the globe.</p>
                </div>
                

            </div>
            <div class="col-lg-6 col-md-12 order-1 align-self-center c-hero-content__image c-hero-content__column">
                <img alt="Hero image" class="img-fluid" src="/images/startup-huddle-hero.jpg" style="object-fit: cover">
            </div>
        </div>
    </div>
</section>