
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="robots" content="index, follow" />
    <!-- Primary Meta Tags   -->
    <title>{title}</title>
    <meta content={description} name="description"/>
    <meta content={keywords} name="keywords"/>
    
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "headline": "Empowering Entrepreneurs: Development, Support, and Acceleration Programs",
            "url": "https://{domain}/{category}/{slug}.html",
            "about": [
                {
                    "@type": "Thing",
                    "name": "Entrepreneurship Development",
                    "sameAs": "https://en.wikipedia.org/wiki/Entrepreneurship_development"
                },
                {
                    "@type": "Thing",
                    "name": "Entrepreneurship Support",
                    "sameAs": "https://en.wikipedia.org/wiki/Entrepreneurship#Support_and_financing"
                },
                {
                    "@type": "Thing",
                    "name": "Startup Programs",
                    "sameAs": "https://en.wikipedia.org/wiki/Startup_company"
                },
                {
                    "@type": "Thing",
                    "name": "Acceleration Programs",
                    "sameAs": "https://en.wikipedia.org/wiki/Startup_accelerator"
                }
            ],
            "mentions": [
                {
                    "@type": "Thing",
                    "name": "Business Incubators",
                    "sameAs": "https://en.wikipedia.org/wiki/Business_incubator"
                },
                {
                    "@type": "Thing",
                    "name": "Seed Funding",
                    "sameAs": "https://en.wikipedia.org/wiki/Seed_funding"
                },
                {
                    "@type": "Thing",
                    "name": "Venture Capital",
                    "sameAs": "https://en.wikipedia.org/wiki/Venture_capital"
                },
                {
                    "@type": "Thing",
                    "name": "Mentorship",
                    "sameAs": "https://en.wikipedia.org/wiki/Mentorship"
                }
            ]
        }
        </script>	<!-- Favicon and Touch Icons -->
    <link rel="icon" href="/images/siteicon.png" sizes="16x16" type="image/png">
    <link rel="shortcut icon" href="/images/siteicon.png">
    <link rel="apple-touch-icon" href="/images/siteicon.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/images/siteicon.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/images/siteicon.png" sizes="72x72">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/main.css"><!-- Load Font Awesome from CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" /><!-- Load jQuery from Google CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&family=Poppins:wght@100;400;600&display=swap" rel="stylesheet"><!-- google fonts -->
