<div class="container c-testimonials">
    <div class="c-testimonials__heading-wrapper">
        <div class="c-testimonials__caption-title">
            <h4>
                <span class="pr-3">Testimonials</span>
            </h4>
        </div>

        <!--<div class="c-testimonials__title">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <h2>What program participants are saying</h2>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>-->
    </div>

    <div class="row justify-content-between">
        <div class="col-md-7 order-1 mb-4">
            <div class="c-testimonials__main-image">
                <img src="/images/startup-huddle-testimonial.jpg">
            </div>
        </div>

        <div class="col-md-4 order-2">
            <div class="c-testimonials__content">
                <div class="c-testimxaonials__testimonial-heading">
                    <h2></h2>
                </div>

                <div class="c-testimonials__testimonial-content">
                    <p>
                        "It was the first time that the Startup Huddle format was used in Yerevan, the participants’ engagement level was encouraging and reinforced the notion that this format has good potential in the Armenian ecosystem for building a dynamic community. "</p>
                </div>

                <div class="c-testimonials__testimonial-name">
                    <h4>Nejdeh Hovanessian</h4>
                    <p class="c-testimonials__testimonial-designation">Assistant director of EPIC</p>
                </div>
            </div>
        </div>
    </div>
</div>